name: Unit Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - uses: satackey/action-docker-layer-caching@v0.0.11
    - name: Build the Docker image
      run: |
          bash
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash
          source ~/.bashrc
          nvm --version
          node --version
          ls -ld .
          ls -ltr
