name: Unit Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-18.04
    
    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
#         run: npm ci
#       - run: npm run build --if-present
#       - run: npm test
        run: npm --version
      - run: npm help npm




#     - uses: satackey/action-docker-layer-caching@v0.0.11
#     - name: mocha tests
#       run: |
#           bash
#           curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash || true
#           export NVM_DIR="$HOME/.nvm"
#           [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
#           bash
#           source ~/.bashrc
#           nvm install v10.4.0
#           node --version
#           yarn --version
#           npm i run-p
